@media only screen and (max-width: 1366px){

}/* -------------------------end-1366px-------------------------- */
@media only screen and (min-width: 1200px){
    .search-input .form-control{
        width: 60% ;
    }
    .form-inline .search-category{
        width: 25%;
    }
    .form-inline .search-category .form-control{
        width: 100%;
    }

@media only screen and (max-width: 1200px) and (min-width: 993px){
    .search-box .form-inline .search-category .form-control{
        width: 90px;
    }
}
@media only screen and (max-width: 992px){
    .top-bar .top_nav {
        display: none;
    }

}/* -------------------------end-992px-------------------------- */
@media only screen and (max-width: 992px) and (min-width: 769px){
    .logo {
        display: none;
    }
    .company_info{
        margin: 10px 0;
    }
    .search-cart{
        position: absolute;
        top: 0;
    }
    .search-cart .search-box{
        padding: 5px 0 0 15px;
    }
    .search-box .form-inline .search-input .form-control{
        height: 28px;
    }
    .search-box .form-inline .search-category .form-control{
        width: 90px;
    }
    .search-box .form-inline .search-btn{
        height: 28px;
    }
    .cart-btn{
        position: absolute;
        right: 90px;
    }
    .cart-btn .cart-badge {
        padding-right: 15px;
        top: 5px;
    }
    .cart-btn .cart-badge .fa-shopping-cart {
        font-size: 24px;
    }
    .navbar-collapse {
        display: block !important;
    }
    .navbar-collapse .navbar-nav{
        flex-direction: row;
        justify-content: center;
    }
    .navbar-collapse .navbar-nav li {
        padding: 0 10px;
    }






}
@media only screen and (min-width: 768px){
    .navbar-toggler{
        display: none;
    }
}/* -------------------------end-min-width:768px-------------------------- */

@media only screen and (max-width: 768px){
    .customer-support-text{
        display: none;
    }
}/* -------------------------end-768px-------------------------- */

@media only screen and (max-width: 576px){
    .search-box{
        margin-left: 15px;
    }
    .search-box .form-inline .search-input{
        width: 56% !important;
    }
    .search-input .form-control{
        width: 100% ;
    }
    .search-btn{
        width: 15% !important;
    }






}/* -------------------------end-576px-------------------------- */

@media only screen and (max-width: 480px){
    .company_info h2 {
        display: none;
    }
    .search-box {
        width: 85% !important;
    }
    .cart-btn{
        width: 15% !important;
    }
    .search-box .form-inline .search-input{
        margin-bottom: 0; 
        margin-left: 65px;
    }
    




}/* -------------------------end-480px-------------------------- */

@media only screen and (max-width: 375px){

}/* -------------------------end-375px-------------------------- */

@media only screen and (max-width: 320px){

}/* -------------------------end-320px-------------------------- */