a {text-decoration: none;}
.top-bar {
    background-color: #eb3e32 !important;
    color: #fff !important;
}
.top-link {
    justify-content: flex-end;
    border-bottom: 1px solid rgba(255,255,255,0.17);    
}
.login-reg{
    padding-right: 5px;
}
.top-link ul li a{
    color: #fff;
    float: left;
    padding: 0.5rem 0.5rem;
}
.top-link ul li a:hover{
    text-decoration: none;
}
.logo img {
    height: 55px;
    margin: 15px 0;
}
.company_info{
    text-align: center;
}
.company_info h2{
    text-transform: uppercase;
    margin: 7px 0;
}
.company_info p{
    margin: 0;
}
.customer-support-text {    
    position: relative;
    margin-top: 15px;
    width: 20%;    
}
.customer-support-text .text{
    float: right;
}
.customer-support-text img {
    max-width: 40px;
    position: absolute;
    right: 140px;
    top: 40%;
    transform: translate(0, -50%);
}
header.header .header-main .customer-support-text .text {
    text-align: left;
    line-height: 1.1;
    padding-left: 50px;
}




.nav-search-cart {
    display: flow-root;
}
.search-cart {
    float: right;
}
.customer-support-text .text span {
    color: #fff;
    display: block;
}
.customer-support-text .text a {
    color: #ffdd20;
    font-weight: 600;
    font-size: 18px;
}
.navbar-toggler{
    margin-left: 5px;
}
.navbar{
    background-color: #dc3327 !important;
}
.main-nav {
    
    min-height: 55px;
    margin-bottom: 0;
    border: none;
}
#navbarMain > ul {
    margin: 0;
}
.top_nav .navbar-nav {
    flex-direction: row;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.header-menu{
    display: block;    
    background: #dc3327;
}
/* -------------css-dropmenu----------------------- */
.btco-hover-menu .collapse ul > li.nav-item:hover > a.nav-link {
    background: #c72d22;
    color: #fff !important;
}
.btco-hover-menu .collapse ul > li:hover > a > ul > li > a{    
    color: #252525 !important;
}
.btco-hover-menu .collapse ul > li > a > ul > li:hover > a{    
    color: #ff2d37 !important;
}
.btco-hover-menu .collapse ul ul.dropdown-menu {
    overflow: hidden;
    display: block;
    max-height: 0px;
    max-width: 0px;
    opacity: 0;
    -webkit-transform: perspective(600px) rotateX(-90deg);
    -moz-transform: perspective(600px) rotateX(-90deg);
    -ms-transform: perspective(600px) rotateX(-90deg);
    -o-transform: perspective(600px) rotateX(-90deg);
    transform: perspective(600px) rotateX(-90deg);
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
    -o-transition: -o-transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
    transition: transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    padding: 0;
    background-color: #fff;
    box-shadow: 0px 10px 21.6px 2.4px rgba(0,0,0,0.06) !important;
    -webkit-box-shadow: 0px 10px 21.6px 2.4px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 10px 21.6px 2.4px rgba(0,0,0,0.06);
    -o-box-shadow: 0px 10px 21.6px 2.4px rgba(0,0,0,0.06);
    -os-box-shadow: 0px 10px 21.6px 2.4px rgba(0,0,0,0.06);
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}
.btco-hover-menu .collapse ul li.nav-item:hover ul.dropdown-menu {
    overflow: visible;
    max-height: 3000px;
    max-width: 3000px;
    opacity: 1;
    -webkit-transform: perspective(600px) rotateX(0deg);
    -moz-transform: perspective(600px) rotateX(0deg);
    -ms-transform: perspective(600px) rotateX(0deg);
    -o-transform: perspective(600px) rotateX(0deg);
    transform: perspective(600px) rotateX(0deg);
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
    -o-transition: -o-transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
    transition: transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
}
.btco-hover-menu .collapse ul li.nav-item:hover ul.dropdown-menu li ul.dropdown-menu{
    display: none;
}
.btco-hover-menu .collapse ul li.nav-item ul.dropdown-menu li.show ul.show{
    display: block !important;
}
.btco-hover-menu .collapse ul ul.dropdown-menu li a{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: block;
    padding: 7px 5px 7px 5px;
    color: #252525;
    position: relative;
    border-bottom: solid 1px #e5e6ec;
    text-align: left;
}
.btco-hover-menu .collapse ul ul.dropdown-menu li:hover a{
    color: #ff2d37;
}
.btco-hover-menu .collapse ul ul.dropdown-menu li.show ul.show li a{
    color: #252525;
}
.btco-hover-menu .collapse ul ul.dropdown-menu li.show ul.show li:hover a{
    color: #ff2d37;
}
.navbar-toggler-icon .fa-bars{
    font-size: 30px;
    color: #fff;
}
.category-title {
    padding: 0px 20px;
    position: relative;
    height: 55px;
    line-height: 55px;
    background: #ffba00;
    color: #fff;
}
.navbar-collapse ul li a{
    color: #fff;
}
.search-box {
    padding: 9px 0;
}
.search-input .form-control{
    width: 255px;
    border-radius: 0;
}
.search-category .form-control{   
    border-radius: 0;
}
.form-inline .search-input{
    width: 59% ;
}

.form-inline .search-category{
    width: 27%;
}
.form-inline .search-input .form-control, .form-inline .search-category .form-control{
    width: 100%;
}

.search-btn{
    position: relative;
    border: 0 none;
    background: #ffd800;
    width: 12%;
    float: left;
    text-align: center;
    height: 38px;
    cursor: pointer;
    color: #363636;
    margin-left: 3px;
}
.cart-btn .cart-badge {
    top: 9px;
    position: absolute;
    
    
}  
.cart-btn .cart-badge a{
    color: #fff;
}
.login-reg ul li ul.lang-selector li a {
    color: #393a44;
}
.carousel-indicators {
    display: none;
}
/* ------------------------------body-content----------------------------- */
.body-content h2{
    margin: 25px 0 10px;
}
.card-body{
    padding: 10px;
}
.card-body .product-name{
    font-size: 14px;
    height: 45px;
    overflow: hidden;
    text-align: center;
    color: #444;
}
.product-list{
    margin-left: -5px !important;
    margin-right: -5px !important;
}
.product-list .prd-item{
    padding-left: 5px;
    padding-right: 5px;
}
.product-list .card { 
    height: auto ;
    border: dashed 1px #ebebeb;
}
.card-body .product-price{
    margin: 0;
    padding: 10px 0 0;
    border-top: dashed 1px #ebebeb;
    border-left: none;
    border-right: none;
    border-bottom: none;
    font-size: 15px;
    text-align: center;
    color: #ff4300 !important;
    font-weight: bold;
}

.card-body .product-price-regular{
    padding: 0;
}
.card-body .product-price:before{
    content: "";
    width: 10px;
    height: 18px;
    background: #ffffff;
    position: absolute;
    top: 232px;
    left: -2px;
    border-radius: 0 18px 18px 0;
    border-top: solid #ececec 2px;
    border-right: solid #ececec 1px;
}
.card-body .product-price:after{
    content: "";
    width: 10px;
    height: 18px;
    background: #ffffff;
    position: absolute;
    top: 232px;
    right: -2px;
    bottom: auto;
    border-radius: 18px 0 0 18px;
    border-top: solid #ececec 2px;
    border-left: solid #ececec 1px;
}
.product-list .card:hover {
    border-color: #ebebeb !important;
    box-shadow: 0px 0px 10px #ebebeb;
}
.product-ratings {
    display: none;
}
.product-list .product-price-saving {
    padding: 5px 10px !important;
    position: absolute;
    top: 10px;
    background-image: linear-gradient(-76deg,#ff4545 0%,#ffb100 100%) !important;
    color: #fff !important;
    border-radius: 28px;
    right: 10px;
}
.card .quick-view {
    display: none;
    height: auto !important;
    position: absolute;
    width: 100%;
    top: 368px;
    border: none !important;
    -webkit-transition: 0.5s all ease;
}
.card:hover .quick-view {
    display: block;
}
.card .quick-view a{
    padding: 5px 44px;
    background: #fffffff0;
    border-radius: 30px;
    box-shadow: 0px 1px 10px -3px rgba(0,0,0,0.56);
    
}
.breadcrumb{
    overflow: hidden;
    margin: 0;
    background: #fff;
    line-height: 32px;
    padding-top: 5px;
}
.product-list-filters h3 {
    font-size: 24px;
}
#productFilter h5.mb-0 a{
    font-weight: 400;
    text-decoration: none;
}
.product-list-filters h3 {
    margin-top: 22px !important;
}
.body-content .category-result h2{
    margin: 5px 20px 0 10px;
}
/* ------------------------------product-detail----------------------------- */

.product-detail .product-name h1{
    font-size: 24px;
    line-height: 40px;
}
.product-detail h3{
    line-height: 1.3em;
    font-size: 24px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #c5c5c5;
}
.body-content h2{
    line-height: 1.3em;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #c5c5c5;    
    text-transform: uppercase;
}




/* ------------------------------section_policy----------------------------- */
.section_policy_content img{
    max-width: 40px;
    float: left;
    margin-right: 10px;
}
.section-policy-padding{
    padding-left: 50px;
}
.section-policy-padding h3{
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    color: #333;
}
.section_policy_title{
    font-size: 14px;
    color: #888;
}






/* ------------------------------Footer----------------------------- */
.footer-content {
    background-color: #393a44 !important; 
    border-top: 5px solid red;   
}
.footer-content .row {
    padding-top: 10px;
}
.footer-content h4{
    color: #fff;
}
.footer-content h4.company-name{
    color: #ffd800;
}
.footer-content ul li {
    color: #ffffff;
    list-style: none;
}
.footer-content ul li span, .footer-content ul li a {
    color: #d4d4d4 !important;
}
.footer-content ul.info{
    padding: 0;
}
.footer-content ul.info li .fa-map-marker{
    padding-right: 10px;
}
.footer-content ul.info li .fa-phone{
    padding-right: 6px;
}
.footer-content ul.info li .fa-envelope-o{
    padding-right: 2px;
}
.bottom-footer{
    border-top: dashed thin #46464e;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 0 15px;
}