.top-bar {
    background-color: #eb3e32 !important;
    color: #ecebeb !important;
}
.top-link {
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.17);    
}
/* .top-nav, .login-reg{
    padding-right: 0px;
} */
.top-link ul li a{
    color: #fff;
    float: left;
    padding: 0.5rem 0.5rem;
}
.top-link ul li a:hover{
    text-decoration: none;
}
.logo img {
    height: 55px;
    margin: 15px 0;
}
.company_info{
    text-align: center;
}
.company_info h2{
    text-transform: uppercase;
    margin: 7px 0;
}
.company_info p{
    margin: 0;
}
.customer-support-text {    
    position: relative;
    margin-top: 15px;
    width: 20%;
}
.customer-support-text .text{
    float: right;
}
.customer-support-text img {
    max-width: 40px;
    position: absolute;
    right: 125px;
    top: 40%;
    transform: translate(0, -50%);
}
header.header .header-main .customer-support-text .text {
    text-align: left;
    line-height: 1.1;
    padding-left: 50px;
}
.customer-support-text .text span {
    color: #fff;
    display: block;
}
.customer-support-text .text a {
    color: #ffdd20;
    font-weight: 600;
    font-size: 18px;
}
.navbar-toggler{
    display: none;
}
.navbar-nav {
    flex-direction: unset;
}
.header-menu{

    display: block;
    float: left;
    width: 100%;
    height: 55px;
    background: #393a44;
}
.category-title {
    padding: 0px 20px;
    position: relative;
    height: 55px;
    line-height: 55px;
    background: #ffba00;
    color: #fff;
}
