@model int

<div class="cart-badge badge-icons pull-right">
    <a href="~/cart"><b class="hidden-sm">Giỏ hàng :</b><i class="fa fa-shopping-cart"></i></a>
    <span class="badge badge-sea rounded-x">@Model</span>
    <div class="badge-open">
    </div>
</div>